/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    max-width: 100vw;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/* Call with:

font-family: 'Kumbh Sans', sans-serif;

*/

body {
    font-family: 'Kumbh Sans', sans-serif;
}

/* Elements design */

header {
    width: 100vw;
    height: 10vh;
}

#hamburger_button {
    width: 20px;
    height: 20px;
    padding: 0;
    border: unset;
    background-image: url(./images/icon-menu.svg);
    background-repeat: no-repeat;
    background-color: unset;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
    appearance: none;
}

#cross_button {
    width: 20px;
    height: 20px;
    padding: 0;
    border: unset;
    background-image: url(./images/icon-close.svg);
    background-repeat: no-repeat;
    background-color: unset;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
    appearance: none;
}

.logo {
    padding-bottom: 9px;
}

#cart_button {
    width: 25px;
    height: 25px;
    border: unset;
    background-image: url(./images/icon-cart.svg);
    background-repeat: no-repeat;
    background-color: unset;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
    appearance: none;
}

.cart_statut {
    display: flex;
    cursor: pointer;
}

#total_preview {
    display: inline;
    position: absolute;
    background: hsl(26, 100%, 55%);
    color: white;
    width: 20px;
    height: 13px;
    padding-top: 1px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 0.7em;
    transform: translateX(9px) translateY(-6px);
}

.cart_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 20px 20px 0 20px;
}

.cart_items img {
    width: 50px;
    border-radius: 5px;
}

.cart_details p {
    font-size: 0.9em;
    text-align: left;
    width: 100%;
    margin: 0;
}

#item_name {
    margin-bottom: 6px;
}

#item_name, #unity_price, #total_items {
    color: rgba(128, 128, 128, 0.63);
}

#total_charged {
    font-weight: bold;
}

.cart_calculation {
    display: flex;
}

.checkout {
    background: hsl(26, 100%, 55%);
    border-radius: 8px;
    height: 50px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.checkout p {
    position: relative;
    justify-content: center;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
}

.profile_button {
    width: 25px;
    height: 25px;
    border: unset;
    background-image: url(./images/image-avatar.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: unset;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
}

.delete_button {
    width: 25px;
    height: 25px;
    border: unset;
    background-image: url(./images/icon-delete.svg);
    background-repeat: no-repeat;
    background-color: unset;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
}

.back_button {
    width: 33px;
    height: 33px;
    display: inline-block;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    z-index: 5;
    position: absolute;
    left: 15px;
    top: 200px;
    border: none;
    background-image: url(./images/icon-next.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 27%;
    transform: rotate(180deg);
    user-select: none;
}

.next_button {
    width: 33px;
    height: 33px;
    display: inline-block;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    z-index: 5;
    position: absolute;
    right: 15px;
    top: 200px;
    border: none;
    background-image: url(./images/icon-next.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 27%;
    user-select: none;
}

h3, h2, p, .prices, .plus_minus, .add_to_cart, .checkout {
    width: 90%;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 16px;
}

h3 {
    text-transform: uppercase;
    color: hsl(26, 100%, 55%);
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.08em;
}

h2 {
    margin-top: 18px;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 18px;
}

#product_description {
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    line-height: 1.4em;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgba(128, 128, 128, 0.637);
}

.prices {
    align-items: center;
}

#actual_price {
    margin-right: -1em;
}

#old_price {
    justify-content: end;
    text-decoration: line-through;
    color: rgba(128, 128, 128, 0.39);
    font-weight: bold;
    font-size: 1.3em;
}

#promotion {
    background: hsl(25, 100%, 94%);
    width: fit-content;
    padding: 0.3em 0.5em;
    border-radius: 8px;
}

#plus {
    width: 15px;
    height: 15px;
    /* margin: 0px 0 0px 20px; */
    border: unset;
    background-image: url(./images/icon-plus.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: unset;
    vertical-align: middle;
    position: absolute;
    bottom: 50%;
    right: 20px;
    align-items: center;
    transform: translateY(5px);
    cursor: pointer;
}

#minus {
    width: 15px;
    height: 5px;
    /* margin: 0px 0 0px 20px; */
    border: unset;
    background-image: url(./images/icon-minus.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: unset;
    vertical-align: middle;
    position: absolute;
    bottom: 50%;
    left: 20px;
    align-items: center;
    transform: translateY(5px);
    cursor: pointer;
}

.plus_minus {
    background: rgba(143, 134, 134, 0.048);
    border-radius: 8px;
    height: 50px;
    margin-top: 25px;
}

#amount {
    font-weight: bold;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
    background: transparent;
    border: none;
}

#cache_misere {
    background: transparent;
    width: 174px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

#amount:active {
    background: transparent;
    border: 0;
    appearance: none;
}

.add_to_cart {
    background: hsl(26, 100%, 55%);
    border-radius: 8px;
    height: 50px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add_to_cart p {
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
}

#white_cart {
    margin-right: 10px;
    color: white;
}

/* Elements positions */

.nav_menu, header {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

header {
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    background-color: white;
}

.cart_content {
    position: absolute;
    top: 95px;
    width: 95vw;
    height: 250px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    z-index: 19;
    border-radius: 8px;
    box-shadow: 0px 6px 20px -12px;
    /* display: none; */
}

.cart_title {
    font-weight: bold;
    width: 100%;
    margin: 25px 0 0 0;
    padding: 0 0 25px 23px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.185);
}

#hamburger_button, #cart_button {
    margin-right: 12px;
}

#hamburger_button {
    margin-left: 20px;
}

#cross_button {
    margin-bottom: 20px;
}

.profile_button {
    position: relative;
    top: -1px;
}

.user_access {
    display: flex;
    margin-right: 20px;
    vertical-align: middle;
}

ul {
    position: fixed;
    width: 65%;
    min-height: 100%;
    height: auto !important;
    padding-left: 25px;
    padding-top: 25px;
    background: white;
    z-index: 20;
    box-shadow: -16px 10px 10px 10px;
    transform: translateX(-100%);
    transition: 0.3s ease;
}

li {
    margin: 30px 0;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
}

main {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    width: 100vw;
}

.carousel {
    position: relative;
    height: 375px;
    width: 100%;
    overflow: hidden;
}

.carousel img {
    display: flex;
    position: absolute;
    width: 100%;
    min-width: 375px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}